<TMPL_INCLUDE NAME="includes/header.tmpl">
    <body>
<TMPL_INCLUDE NAME="includes/navigation.tmpl">
        <div class="main" id="main">
        </div>
<TMPL_INCLUDE NAME="includes/footer.tmpl">
    </body>
</html>
